.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.image {
  width: 80px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .card {
    padding: 32px 0;
  }
  .image {
    width: 60px;
    margin-bottom: 24px;
  }
}
